<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <ul>
        <li><a id="HomePage" name="HomePage" href= "home" class="btn btn-outline-success">Home Page</a></li>
        <li><a id="customerPage" name="userPage" href= "customer" class="btn btn-outline-success">Customers: Add New, Update, Select, Filter</a></li>
        <li><a id="communityPage" name="communityPage" href= "communities" class="btn btn-outline-success">Communities: Add New, Select, Filter</a></li>
		<li><a id="customerCommunityPage" name="customerCommunityPage" href= "customerCommunities" class="btn btn-outline-success">Customer Community: Add New, Select, Filter</a></li>
        <li><a id="itemsPage" name="productPage" href= "items" class="btn btn-outline-success">Items: Add New, Select, Filter</a></li>
        <li><a id="purchaseOrderPage" name="purchaseOrderPage" href= "purchaseOrder" class="btn btn-outline-success">Purchase Orders: Add New, Select, Filter</a></li>
        <li><a id="purchaseOrderDetailsPage" name="purchaseOrderDetailsPage" href= "purchaseOrderDetails" class="btn btn-outline-success">Purchase Order Details: Add New, Delete, Select, Filter</a></li>
    </ul>
</body>
</html>
